# Aplicacao
APP_IMAGE=ghcr.io/annabuenooo/rreciclagem:latest
SPRING_PROFILES_ACTIVE=staging
SERVER_PORT=8080
JWT_SECRET=trocar-por-segredo-forte-com-minimo-32-caracteres

# Banco
POSTGRES_DB=rreciclagem
POSTGRES_USER=rreciclagem
POSTGRES_PASSWORD=trocar-esta-senha

# Logs e JVM
LOG_LEVEL_APP=INFO
LOG_LEVEL_SECURITY=INFO
JAVA_OPTS=-Xms256m -Xmx512m
